.button {
    background: linear-gradient(45deg, #02c4ff 0%, #8ee67b 100%);
    color: white;
    font-weight: 700;
    font-size: 18px;
    padding: 1rem;
    margin: 1.5rem 0;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    width: 15rem;
    align-content: center;
    align-items: center;
}

.button:hover {
    background: var(--default-blue);
    transition: 1s ease-in-out;
}