:root {
    --green: #6da544;
    --blue: #27aee1;
    --yellow: #ffda44;
    --default-blue: #03aeeb;
    --default-green: #6bda55;
    --default-yellow: #d7df23;
    --background-blue: #c2ebfa;
  }

.form {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.form form {
    max-width: 80%;
    background-color: var(--background-blue);
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
}

