:root {
    --green: #6da544;
    --blue: #27aee1;
    --yellow: #ffda44;
    --default-blue: #03aeeb;
    --default-green: #6bda55;
    --default-yellow: #d7df23;
    --background-blue: #daeef5;
  }

.form-fields {
    margin: 15px 0;
}

.form-fields label {
    display: block;
    margin-bottom: 8px;
    font-size: 20px;
}

.form-fields input {
    background-color: #ffffff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    width: 25rem;
    border: none;
    font-size: 20px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
}